.chatbot {
    display: flex;
    justify-content: center;
    
    .content {
        width: max(25%, 25rem);

        h1 {
            text-align: center;
        }
        
        .chat-room {
            display: grid;
        }
    }
}

.chatMessage {
    font-weight: 200;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;

    &.sent {
        justify-self: end;
        background-color: $background-color-sent;
        color: $color-sent;
    }

    &.received {
        justify-self: start;
        background-color: $background-color-received;
        color: $color-received;
    }

}

.inputForm {
    position: fixed;
    bottom: 0;
    padding-bottom: 1rem;
    width: inherit;
    background-color: $background-color;
    display: grid;
    grid-template-columns: auto fit-content(5rem);

    .inputField {
        margin: .5rem .2rem 0 0;
        padding: .5rem;
        border-radius: .5rem;
        border: none;
        line-height: 1.5rem;
    }

    .inputButton {
        background-color: $background-color-sent;
        margin: .5rem 0 0 .2rem;
        padding: .5rem;
        border-radius: .5rem;
        border: none;
        width: 3rem;

        i {
            color: $color;
        }

        &:disabled {
            background-color: $background-color-disabled;
        }
    }
}