
// Variables
$font: 'Exo 2', sans-serif;
$background-color: hsl(0, 0%, 21%);
$color: white;
$color-sent: $color;
$background-color-sent: hsla(202, 100%, 50%, 0.671);
$background-color-disabled: hsla(202, 100%, 70%, 0.671);
$color-received: black;
$background-color-received: hsl(0, 0%, 95%);
$error-color: hsl(0, 85%, 70%);
